*.pyc
*~
*.swp
*.pem
db
/collected_static
/build
django_wsgi.py
log.txt
/.env/
/logs/log*
/media
/node_modules
/.idea/
test_db
local.py
/static/js/bower/
/.celeryd/
/tmp/
/env/
mithril_static
/cover
/mithril-office/
/reports*
.ropeproject
.elasticbeanstalk/
.codeintel
.coverage
utils/color.mtx
/wiki/*
test_project/db.sqlite3
test_project/project/secret.py
test_project/env/
